.header {
    background: #f5f5f5 none repeat scroll 0 0;
    padding-top: 30px;
    padding-bottom: 30px;
}

.headerScroll {
    background: #f5f5f5;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 1px 4px rgb(2 3 3 / 10%);
    animation: .3s ease-in-out 0s normal none 1 running fadeInDown;
}


.headerContainer {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.burgerMenuIcon {
    cursor: pointer;
    transition: all 0.2s linear;
    padding-left: 40px;
    display: none;
}

@media (max-width: 960px) {
    .burgerMenuIcon {
        display: block;
    }

    .headerContainer {
        justify-content: space-between;
    }
}
