.contacts {
    background-color: #ffffff;
    padding: 110px 0;
}

.contactsContainer {
    display: flex;
    justify-content: space-around;

}

.contactsItem {
    /*width: 33.3%;*/
    padding-right: 15px;
    padding-left: 15px;
}

.contactsBlock {
}

.text {
    word-break: break-word;
    color: #777;
    font-size: 14px;
    line-height: 24px;
    font-family: Poppins, serif;
    margin: 0 0 15px;
}

.blockCV {
    padding: 15px 0 0 20px;
}

.linkCv:hover {
    transition: all .9s ease 0s;
    background-color: #525252;
}

.linkCv {
    border: 1px solid #a8a8a8;
    padding: 0.8rem 2.2rem;
    color: #7b7b7b;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Montserrat',sans-serif;
    text-transform: capitalize;
    text-decoration: none;

}

@media (max-width: 1000px) {
    .contactsContainer {
        flex-wrap: wrap;
    }

}
