.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 15px;
    background: #2b2b2b none repeat scroll 0 0;
    transform: translateX(-100%);
    transition: transform 0.5s;
    z-index: 500;
}



.sidebar.open {
    transform: translateX(0);
    transition: all 0.5s

}

.background {
    position: absolute;
    width:100%;
    height:100%;
    /*background:#000;*/
    opacity:0.5;
    z-index: 100;
}

.nav {
    margin-top: 53px;
    margin-left: 53px;
    margin-right: 20px;
    text-transform: uppercase;
}

.nav a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 15px ;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: .4px;
    font-family: Montserrat, serif;
    padding: 13px 15px;
    text-align: left;
}


.nav a:hover {
    color: #58ACFF;
    text-decoration: underline;
}

.nav a.active {
    color: #0059B2;
    text-decoration: underline;
}
.close {
    float: right;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s linear;
}

.close img {
}
