.mainBlock {
    background-color: #f5f5f5;
    padding: 40px 0;
}

.mainContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.text {
    width: 30rem;
    background-color: #afc5f1;
}

.photoBlock {
    width: 50%;
}

.photo {
    height: auto;
    max-width: 80%;
    border: none;
    border-radius: 0;
    box-shadow: none;
}
