.mainBlock {
    background-color: #f5f5f5;
    padding: 40px 0;
}

.mainContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.particle{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.text {
    width: 30rem;
    background-color: #afc5f1;
}

.photoBlock {
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.photo {
    height: auto;
    max-width: 70%;
    border: none;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
}
