.socialItem {
    display: flex;
    align-items: center;
    padding: 10px;
}

.socialItemIcon {
    margin: auto 10px;
}

.itemLink {
    margin-bottom: 5px;
    color: #919191;
    font-size: 13px;
    font-weight: 400;
    font-family: 'montserratlight', serif;
    line-height: 19px;
    transition: all .3s ease;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    word-wrap: break-word;
}

.itemLink:hover {
    transition: all .9s ease 0s;
    color: #231919;
}

