.footer {
    background-color: #f5f5f5;
    padding: 28px 0;
}

.footerContainer {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 40px;
}

.socialBlock {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


@media (max-width: 600px) {
    .footerContainer {
        justify-content: center;
    }

}
